.papainoelvsjesus
{
    border: 1px solid rgb(100, 100, 170);
}

.papainoelvsjesus img
{
    width: 100%;
}

.papainoelvsjesus h5, .papainoelvsjesus p
{
    margin: 20px;
}

.filmesHead{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.filmesHead i{
    float: right;
}

.filmesText span{
    color: rgb(103, 103, 243);
}

#livro{
    margin-bottom: 20px;
}

#contato iframe
{
    width: 100%;
}
